.App {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.Expander {
  --button-height: 2rem;
  --button-width: 2rem;
  position: relative;
  height: var(--button-height);
  width: var(--button-width);
  transform-origin: top left;
  overflow: hidden;
  /* outline: 1px solid red; */
}

.Expander-content {
  position: absolute;
  width: 20rem;
  transform-origin: top left;
  background: black;
  color: white;
  font-weight: bold;
  /* opacity: 0.5; */
}

.Expander-toggleButton {
  display: flex;
  align-items: center;
  height: var(--button-height);
  width: var(--button-width);
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.Expander-text {
  margin: 1rem;
}
